 <% @products.each do |product| %>
   <%= link_to product, class: "card" do %>
      <aside>
         <% if product.image.present? %>
         <p><%=image_tag product.image.variant(resize_to_limit: [285,285]).processed%></p>
         <%end%>
        <% link_to product %>
          <p><%= product.company %></p>
        <p><%= product.product %></p>
        <p><%= product.type_name %></p>
        <p>Price: <%= number_to_currency product.price %></p>
      </aside>
       <% end %>
    <% end %>



