<br>
<br>
  <div class="col-sm-9 padding-center" id="wrapper-center">
    <% if flash[:notice]%>
          <p style="color:white"><%= flash[:notice]%></p>
        <%end%>
  </div>
<div class="col-sm-9 padding-right" id="wrapper-center">
					<div class="features_items">
            <% @products.each do |product| %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
                      <% if product.image.present? %>
                      <p><%= image_tag product.image.variant(resize_to_limit: [285,285]).processed%></p>
                      <%end%>
											<h4><strong><%= product.company %> | <%= product.product %></strong></h4>
                     <h4><%= product.type_name %></h4>
                     <h2> <%= number_to_currency product.price %></h2>
										<button type="button" class="btn btn-dark"><%= link_to "View Product", product  %></button>
										<button type="button" class="btn btn-dark"><%= link_to "Purchase", product  %></button>
										</div>
								</div>
							</div>
						</div>
            <%end%>
					</div><!--features_items-->

<%== pagy_bootstrap_nav(@pagy) %>

 </nav>
				</div>