<div class="container">
  <div class="row">
    <div class="card">

     <% if @product.image.present? %>
         <p><%=image_tag @product.image.variant(resize_to_limit: [285,285]).processed%></p>
         <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= @product.company %> - <%= @product.product %></h5>
        <h5 class="card-title"><%= @product.type_name %></h5>
        <h5 class="card-title">Specifications:</h5>
        <h4 class="card-title">CPU: <%= @product.CPU %></h5>
        <h4 class="card-title">Memory:  <%= @product.memory %></h5>
        <h4 class="card-title">GPU:  <%= @product.GPU %></h5>
        <h4 class="card-title">RAM:  <%= @product.RAM %></h5>
        <h4 class="card-title">Screen Resolution:  <%= @product.screen_resolution %></h5>
        <h4 class="card-title">Inches:  <%= @product.inches %></h5>
        <h4 class="text-right">
          Unit Price:
          <span style="color: green"><%= number_to_currency @product.price %></span>
        </h4>
        <footer class="card-footer">
          <% if cart.include?(@product) %>
          <%= button_to cart_path(@product), method: :delete do%>
           Remove item
           <%end%>
          <% else %>
            <%= form_with url: cart_index_path , method: :post do%>
            <%= hidden_field_tag(:id, @product.id)%>
            <%= button_tag "Add to cart"%>
            <%end%>
            <%end%>
       </footer>
        </div>
      </div>
    </div>
  </div>
</div>
