<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=yield(:html_title) if content_for?(:html_title)%>GH Laptops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand">GH</a>

   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
             <%= link_to 'Admin', admin_root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brand</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Acer</a>
          <a class="dropdown-item" href="#">Apple</a>
          <a class="dropdown-item" href="#">Asus</a>
          <a class="dropdown-item" href="#">Chuwi</a>
          <a class="dropdown-item" href="#">Dell</a>
          <a class="dropdown-item" href="#">Fujitsu</a>
          <a class="dropdown-item" href="#">Google</a>
          <a class="dropdown-item" href="#">HP</a>
          <a class="dropdown-item" href="#">Huawei</a>
          <a class="dropdown-item" href="#">Lenovo</a>
          <a class="dropdown-item" href="#">LG</a>
          <a class="dropdown-item" href="#">Mediacom</a>
          <a class="dropdown-item" href="#">Microsoft</a>
          <a class="dropdown-item" href="#">MSI</a>
          <a class="dropdown-item" href="#">Razer</a>
          <a class="dropdown-item" href="#">Samsung</a>
          <a class="dropdown-item" href="#">Toshiba</a>
          <a class="dropdown-item" href="#">Vero</a>
          <a class="dropdown-item" href="#">Xiaomi</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="badge badge-pill red"><%= cart.size%></span>
                <i class="fas fa-shopping-cart pl-0"></i></a>
        <div class="dropdown-menu p-3 dropdown-menu-right" style="min-width: 300px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-60px, 38px, 0px);" x-placement="bottom-end">
         <% cart.each do |product|%>
          <figure class="itemside mb-3">
          <% if product.image.present? %>
          <div class="aside"><%= image_tag product.image.variant(resize_to_limit: [78,78]).processed, class:"img-sm border" %></div>
               <%end%>
          <figcaption class="info align-self-center">
            <p class="title"><%= product.product%></p>
           <%= link_to 'X', cart_path(product), method: :delete, class: "float-right" %>
            <div class="price"><%= product.price%></div> <!-- price-wrap.// -->
          </figcaption>
        </figure>

            <%end%>
            <a href="" class="btn btn-primary btn-block"> Checkout </a>
        </div>

      </li>

        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <p style="color:lightgray">Hi, <%= current_user.email %></p>
               </li>
              <li class="nav-item">
               <%= link_to 'Sign out',  destroy_user_session_path, method: :delete, class: 'nav-link'%>
               </li>
          <% else %>
               <li class="nav-item">
               <%= link_to 'Sign In', new_user_session_path, class: 'nav-link'%>
               </li>
                <li class="nav-item">
                <%= link_to 'Register', new_user_registration_path, class: 'nav-link'%>
               </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Advanced Search", new_search_path, class: 'btn btn-outline-success my-2 my-sm-0'%>
        </li>
        </ul>


</nav>
</header>
  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <main>
  <%= render 'shared/breadcrumbs' %>
   <%= yield %>
 </main>

  </body>
</html>
